<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>JavaWebDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>demo1</servlet-name>
    <servlet-class>servlet.Demo1_Servlet</servlet-class>
    <init-param>
      <param-name>p1</param-name>
      <param-value>v1</param-value>
    </init-param>
    <init-param>
      <param-name>p2</param-name>
      <param-value>v2</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>demo1</servlet-name>
    <url-pattern>/demo1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>demo2</servlet-name>
    <servlet-class>servlet.Demo2_GenericServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>demo2</servlet-name>
    <url-pattern>/demo2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>demo3</servlet-name>
    <servlet-class>servlet.Demo3_HttpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>demo3</servlet-name>
    <url-pattern>/demo3</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>demo4_a</servlet-name>
    <servlet-class>servlet.Demo4_ServletContext_a</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>demo4_a</servlet-name>
    <url-pattern>/demo4_a</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>demo4_b</servlet-name>
    <servlet-class>servlet.Demo4_ServletContext_b</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>demo4_b</servlet-name>
    <url-pattern>/demo4_b</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>KEY</param-name>
    <param-value>VALUE</param-value>
  </context-param>
  <listener>
    <listener-class>web.listener.Demo37_Listener</listener-class>
  </listener>
</web-app>