<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>OASys</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/mysql</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <description>登录验证</description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>oa.staff.web.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>删除issue表</description>
    <display-name>DelIssue</display-name>
    <servlet-name>DelIssue</servlet-name>
    <servlet-class>oa.issue.web.servlet.DelIssue</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelIssue</servlet-name>
    <url-pattern>/DelIssue</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>查询issuer表格信息</description>
    <display-name>IssueInquiry</display-name>
    <servlet-name>IssueInquiry</servlet-name>
    <servlet-class>oa.issue.web.servlet.IssueInquiry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IssueInquiry</servlet-name>
    <url-pattern>/IssueInquiry</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>添加issue签发人的权限</description>
    <display-name>AddIssue</display-name>
    <servlet-name>AddIssue</servlet-name>
    <servlet-class>oa.issue.web.servlet.AddIssue</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddIssue</servlet-name>
    <url-pattern>/AddIssue</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>根据卡号获得用户信息</description>
    <display-name>GetStaff</display-name>
    <servlet-name>GetStaff</servlet-name>
    <servlet-class>oa.staff.web.servlet.GetStaff</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetStaff</servlet-name>
    <url-pattern>/GetStaff</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>上传公文</description>
    <display-name>UploadDocument</display-name>
    <servlet-name>UploadDocument</servlet-name>
    <servlet-class>oa.document.web.servlet.UploadDocument</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadDocument</servlet-name>
    <url-pattern>/UploadDocument</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>根据公文标题查找公文</description>
    <display-name>SearchDocument</display-name>
    <servlet-name>SearchDocument</servlet-name>
    <servlet-class>oa.document.web.servlet.SearchDocument</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchDocument</servlet-name>
    <url-pattern>/SearchDocument</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownDocument</display-name>
    <servlet-name>DownDocument</servlet-name>
    <servlet-class>oa.document.web.servlet.DownDocument</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownDocument</servlet-name>
    <url-pattern>/DownDocument</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>删除公文</description>
    <display-name>DelDocument</display-name>
    <servlet-name>DelDocument</servlet-name>
    <servlet-class>oa.document.web.servlet.DelDocument</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelDocument</servlet-name>
    <url-pattern>/DelDocument</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>改变documentNo</description>
    <display-name>ChangeDocumentNo</display-name>
    <servlet-name>ChangeDocumentNo</servlet-name>
    <servlet-class>oa.document.web.servlet.ChangeDocumentNo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeDocumentNo</servlet-name>
    <url-pattern>/ChangeDocumentNo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DocumentNo</display-name>
    <servlet-name>DocumentNo</servlet-name>
    <servlet-class>oa.document.web.servlet.DocumentNo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DocumentNo</servlet-name>
    <url-pattern>/DocumentNo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchDepartment</display-name>
    <servlet-name>SearchDepartment</servlet-name>
    <servlet-class>oa.staff.web.servlet.SearchDepartment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchDepartment</servlet-name>
    <url-pattern>/SearchDepartment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>设置发送状态</description>
    <display-name>SetSendState</display-name>
    <servlet-name>SetSendState</servlet-name>
    <servlet-class>oa.document.web.servlet.SetSendState</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetSendState</servlet-name>
    <url-pattern>/SetSendState</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>查找签发人</description>
    <display-name>SearchExaminer</display-name>
    <servlet-name>SearchExaminer</servlet-name>
    <servlet-class>oa.draft.web.servlet.SearchExaminer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchExaminer</servlet-name>
    <url-pattern>/SearchExaminer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>查找起草的公文</description>
    <display-name>SearchDraftDocument</display-name>
    <servlet-name>SearchDraftDocument</servlet-name>
    <servlet-class>oa.document.web.servlet.SearchDraftDocument</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchDraftDocument</servlet-name>
    <url-pattern>/SearchDraftDocument</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DraftDocument</display-name>
    <servlet-name>DraftDocument</servlet-name>
    <servlet-class>oa.draft.web.servlet.DraftDocument</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DraftDocument</servlet-name>
    <url-pattern>/DraftDocument</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>改变状态</description>
    <display-name>ChangeState</display-name>
    <servlet-name>ChangeState</servlet-name>
    <servlet-class>oa.state.web.servlet.ChangeState</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeState</servlet-name>
    <url-pattern>/ChangeState</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>查找起草文件</description>
    <display-name>SearchDraft</display-name>
    <servlet-name>SearchDraft</servlet-name>
    <servlet-class>oa.draft.web.servlet.SearchDraft</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchDraft</servlet-name>
    <url-pattern>/SearchDraft</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>上传起草文件</description>
    <display-name>UploadDraft</display-name>
    <servlet-name>UploadDraft</servlet-name>
    <servlet-class>oa.draft.web.servlet.UploadDraft</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadDraft</servlet-name>
    <url-pattern>/UploadDraft</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>设置签发状态</description>
    <display-name>SetIssueState</display-name>
    <servlet-name>SetIssueState</servlet-name>
    <servlet-class>oa.draft.web.servlet.SetIssueState</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetIssueState</servlet-name>
    <url-pattern>/SetIssueState</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>下载起草文件</description>
    <display-name>DownDraftFile</display-name>
    <servlet-name>DownDraftFile</servlet-name>
    <servlet-class>oa.draft.web.servlet.DownDraftFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownDraftFile</servlet-name>
    <url-pattern>/DownDraftFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>删除起草文件</description>
    <display-name>DelDraftFile</display-name>
    <servlet-name>DelDraftFile</servlet-name>
    <servlet-class>oa.draft.web.servlet.DelDraftFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelDraftFile</servlet-name>
    <url-pattern>/DelDraftFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>通过签发</description>
    <display-name>Issue</display-name>
    <servlet-name>Issue</servlet-name>
    <servlet-class>oa.issue.web.servlet.Issue</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Issue</servlet-name>
    <url-pattern>/Issue</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveRemarks</display-name>
    <servlet-name>SaveRemarks</servlet-name>
    <servlet-class>oa.document.web.servlet.SaveRemarks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveRemarks</servlet-name>
    <url-pattern>/SaveRemarks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>查看公文所有人状态</description>
    <display-name>SearchState</display-name>
    <servlet-name>SearchState</servlet-name>
    <servlet-class>oa.state.web.servlet.SearchState</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchState</servlet-name>
    <url-pattern>/SearchState</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>催办</description>
    <display-name>PressureDocument</display-name>
    <servlet-name>PressureDocument</servlet-name>
    <servlet-class>oa.state.web.servlet.PressureDocument</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PressureDocument</servlet-name>
    <url-pattern>/PressureDocument</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>根据姓名查找信息</description>
    <display-name>SearchMessage</display-name>
    <servlet-name>SearchMessage</servlet-name>
    <servlet-class>oa.message.servlet.SearchMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchMessage</servlet-name>
    <url-pattern>/SearchMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>发送信息</description>
    <display-name>SendMessage</display-name>
    <servlet-name>SendMessage</servlet-name>
    <servlet-class>oa.message.servlet.SendMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMessage</servlet-name>
    <url-pattern>/SendMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>保存消息状态</description>
    <display-name>ChangeMessageState</display-name>
    <servlet-name>ChangeMessageState</servlet-name>
    <servlet-class>oa.message.servlet.ChangeMessageState</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeMessageState</servlet-name>
    <url-pattern>/ChangeMessageState</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>查找未查看的消息数</description>
    <display-name>SearchMessageNo</display-name>
    <servlet-name>SearchMessageNo</servlet-name>
    <servlet-class>oa.message.servlet.SearchMessageNo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchMessageNo</servlet-name>
    <url-pattern>/SearchMessageNo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>查询有几个未接收文件</description>
    <display-name>SearchDocumentNo</display-name>
    <servlet-name>SearchDocumentNo</servlet-name>
    <servlet-class>oa.document.web.servlet.SearchDocumentNo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchDocumentNo</servlet-name>
    <url-pattern>/SearchDocumentNo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>查找本部门人员</description>
    <display-name>SearchStaff</display-name>
    <servlet-name>SearchStaff</servlet-name>
    <servlet-class>oa.staff.web.servlet.SearchStaff</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchStaff</servlet-name>
    <url-pattern>/SearchStaff</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>删除员工</description>
    <display-name>DelStaff</display-name>
    <servlet-name>DelStaff</servlet-name>
    <servlet-class>oa.staff.web.servlet.DelStaff</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelStaff</servlet-name>
    <url-pattern>/DelStaff</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>添加新成员</description>
    <display-name>AddStaff</display-name>
    <servlet-name>AddStaff</servlet-name>
    <servlet-class>oa.staff.web.servlet.AddStaff</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStaff</servlet-name>
    <url-pattern>/AddStaff</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>修改用户密码</description>
    <display-name>Modifypwd</display-name>
    <servlet-name>Modifypwd</servlet-name>
    <servlet-class>oa.staff.web.servlet.Modifypwd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Modifypwd</servlet-name>
    <url-pattern>/Modifypwd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DispatcherServlet</display-name>
    <servlet-name>DispatcherServlet</servlet-name>
    <servlet-class>oa.url.web.servlet.DispatcherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DispatcherServlet</servlet-name>
    <url-pattern>/DispatcherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>查找发送公文</description>
    <display-name>SearchSendState</display-name>
    <servlet-name>SearchSendState</servlet-name>
    <servlet-class>oa.state.web.servlet.SearchSendState</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchSendState</servlet-name>
    <url-pattern>/SearchSendState</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>查看签发文档备注</description>
    <display-name>SearchRemarks</display-name>
    <servlet-name>SearchRemarks</servlet-name>
    <servlet-class>oa.document.web.servlet.SearchRemarks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchRemarks</servlet-name>
    <url-pattern>/SearchRemarks</url-pattern>
  </servlet-mapping>
</web-app>